@charset "utf-8";
/* CSS Document */

header, nav, section, article, aside, footer, main{ 
   display: block;
}


body{
    background: url(../images/body-bg.jpg);
    background-repeat: repeat-y;
    background-attachment: fixed;
}
body {
    margin:0px; 
    padding:0px; 
    font-family: 'Open Sans',sans-serif; 
    font-weight:normal; 
    font-style:normal; 
    line-height:26px; 
    color:#222222;
}
.page{
    background-color: #fff;
}
a{ 
    text-decoration:none !important; 
    color:inherit;
}
a:hover{ 
    text-decoration:none !important;
}
.clearfix{ 
    clear:both;
}



p{
    font-weight:normal; 
    font-size:14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}


a.pdflinkcolor:hover{ 
    font-color:grey;
}




ul{ 
    list-style-type:none; 
    margin:0px; 
    padding:0px;
}
.img-wrap{ 
    float:left; 
    padding:0 10px 0 0; 
    display:inline-block;
}
.img-wrap-left{ 
    float:left; 
    padding:0 20px 5px 0; 
    display:inline-block;
}
.img-wrap-right{ 
    float:right; 
    padding:0 0px 5px 20px; 
    display:inline-block;
}
.img-wrap-tb{ 
    width: 100%;
}
.text-wrap{ 
    float:right; 
   display:inline-block;
}
p.test {
    word-wrap: break-word;
}
.right{ 
    text-align:right;
}
.center{
    text-align:center !important;
}
.left{ 
    text-align:left;
}
.zero{
    padding:0px !important;
}
.cont-padd{
    padding:0px !important;
}
.col-padd{ 
    padding-left:0px !important; 
    padding-right:0px !important;
}
.col-padd-left{ 
    padding-left:0px !important; 
}
.col-padd-right{ 
    padding-right:0px !important;
}

.bg-left{
    background-color: #f0f8fd !important;
}
.bg-right{
    background-color: #fff !important;
}

.blue{
    background-color: #009999;
}
.light-blue{
    background-color: #b0e6e6;
}
.color-white{
    color: #fff;
}
.color-pink{
    color: #f94b56;
}
.color-orange{
    color: #fb8332;
}

/*===========================================================
                       header css 
=============================================================*/

.top-bar{
    position: relative;
    display: block;
    overflow: hidden;
    background-color:#009999;
    padding: 5px 0px;
}
.top-bar .top-social{
    position: relative;
    display: block;
}
.top-bar .top-social ul{
    list-style-type: none;
}
.top-bar .top-social ul li{
    display: inline-block;
}
.top-bar .top-social ul li i{
    height: 25px;
    width: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #005ba0;
    border-radius: 50%;
}
.top-bar .top-social ul li i:hover{
    background-color: #4bf9f9;
}

.top-bar .top-touch{
    position: relative;
    display: block;
}
.top-bar .top-touch h4{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    line-height: 6px;
}
.top-bar .top-opt{
    position: relative;
    display: block;
}
.top-bar .top-opt select{
    width: 90%;
    border: 1px solid #ccc;
}

.top-logo-section{
    position: relative;
    display: block;
    background: url(../images/logo-bg.jpg);
    width: 100%;
    padding: 0px 0px;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
}
.top-logo-section .logo{
    position: relative;
    display: block;
    padding: 10px 0px;
    float: left;
}
.top-logo-section .logo-slogan{
    position: relative;
    display: block;
}
.top-logo-section .logo-slogan h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    font-family:"Monotype Corsiva";
    padding-right: 30px;
}
.top-logo-section .logo-slogan h1 span{
    color: #00813d;
}
.top-logo-section .logo-right{
    position: relative;
    display: block;
    float: right;
}

/*===========================================================
                       menu css 
=============================================================*/

.top-menu-section{
    position: relative;
    display: block;
    background-color: #009999;
}
.login-tab{
    width: 100%;
    padding: 0px 0px;
    float: right;
    background-color: #009999;
}
.login-tab h3{
    color: #fff;
    text-align: center;
    background-color: #5d6d7e;
    padding: 6.5px 0px;
    border-radius: 5px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  background-color: #009999;
}
#cssmenu > ul {
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: center;
}
#cssmenu > ul > li > a {
  padding: 13px 12px 13px 12px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  font-family:Helvetica;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #ffffff;
  background: #005ba0;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 25px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 5px;
  top: 17px;
}
#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 40px !important;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  z-index: 9999;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
/*#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}*/
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#cssmenu ul ul ul{
  top: 0px !important;
}
/*#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}*/
#cssmenu > ul > li > ul {
  top: 0px;
}
#cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 800;
  padding: 11px 15px;
  width: 180px;
  color: #fff;
  font-family:Helvetica;
  background-color: #009999;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
  z-index:99;
}
#cssmenu ul ul li a:hover {
    background: #005ba0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #fff;
}
#cssmenu ul ul li:first-child > a {

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #fff;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #fff;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}


/*===========================================================
                       banner css 
=============================================================*/
.banner-section{
    position: relative;
    display: block;
    background-color: #e4fb9c;
    overflow: hidden;
}

.banner-left-section{
    position: relative;
    display: block;
    padding: 0px 0px;
}
.container1 {
    float:left;  
}
#slideimg{ 
    z-index:999;
    position: relative !important;
    width: 650px !important;
    height: 255px !important;
    list-style: outside none none !important;
    padding: 0px !important;
    margin: 0px 0px 0px 50% !important;
    left: -325px !important;
    top: 25px !important;
}	
.container1 ul { padding-left:0px; overflow:none; }
.container1 ul li {
    border:1px solid #fff;	
}
.container1 ul li img { }
.left, .right {
cursor: pointer;
}


/*===========================================================
                 banner right menu css 
=============================================================*/
.banner-section .banner-right-section{
    position: relative;
    display: block;
    padding: 0px 0px;
    background-color: #e4fb9c;
}
.banner-section .banner-right-section ul{
    list-style-type: none;
}
.banner-section .banner-right-section ul li{
    list-style-type: none;
    background-color: #99cc00;
    border-bottom: 1px solid #8dbb03;
    color: #000;
    font-weight: bold;
    padding: 7px 5px;
}
.banner-section .banner-right-section ul li:hover{
    background-color: #808080;
}
.banner-section .banner-right-section ul li a:hover{
    color: #fff;
}
.banner-section .banner-right-section ul li img{
    padding: 5px 10px 0px 10px;
}

/*===========================================================
                 latest news menu css 
=============================================================*/

.section-latest{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 32px 10px 20px 10px;
}
.section-latest .latest-con{
    position: relative;
    display: block;
    border: 2px solid #f44a55;
    overflow: hidden;
}
.latest-con .latest-title{
    position: relative;
    display: block;
    padding: 0px 10px;
    background-color: #f44a55;
    width: 20%;
    float: left;
}
.latest-con .latest-title h3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.latest-con .latest-title i{
    position: absolute;
    top: 2px;
    left: 230px;
    color: #f44a55;
    font-size: 40px;
    z-index: 1;
}
.latest-con .latest-marquee{
    position: relative;
    display: block;
    background-color: #fff;
    padding: 7px 10px 0px 10px;
    width: 80%;
    float: left;
}

/*===========================================================
                 content section menu css 
=============================================================*/
.contant-section{
    position: relative;
    display: block;
    overflow: hidden;
    padding: 10px 0px 0px 0px;
}
.contant-box-section{
    position: relative;
    display: block;
}
.contant-section .contant-left-section{
    position: relative;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #009999;
}
.contant-section .contant-left-section .title{
    position: relative;
    display: block;
    padding: 10px 0px;
    background-color: #009999;
    border-radius: 5px;
}
.contant-section .contant-left-section .title h1{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.contant-left-section .contant-left-section-dis{
    position: relative;
    display: block;
    padding: 0px 0px;
}
.contant-left-section .contant-left-section-dis ul{
    list-style-type: none;
}
.contant-left-section .contant-left-section-dis ul li{
    background-color: #40E0D0;
    color: #000;
    font-weight: bold;
    margin: 5px 0px;
    padding: 6px 0px;
}

.contant-left-section .contant-left-section-dis ul li:hover{
    background-color: #808080;
}





.contant-section .contant-right-section{
    position: relative;
    display: block;
    padding: 0px 0px;
    border-radius: 10px;
    border: 2px solid #009999;
}
.contant-section .contant-right-section .title{
    position: relative;
    display: block;
    padding: 10px 0px;
    background-color: #009999;
    border-radius: 5px;
}
.contant-section .contant-right-section .title h1{
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.contant-right-section .contant-right-slider{
    position: relative;
    display: block;
    padding: 15px 0px;
}

.contant-section .content-heading{
    position: relative;
    display: block;
    padding: 10px 10px;
    margin: 30px 0px 20px 0px;
    background-color: #70f7f3;
    border-radius: 5px;
}
.contant-section .content-heading h1{
    color: #cc3c39;
    font-size: 16px;
    font-weight: bold;
}

/*===========================================================
                 image carousel section css 
=============================================================*/

.section-carousel{
    position: relative;
    display: block;
    padding: 0px 40px;
}

#owl-demo .item{
    display: block;
    border: 2px solid #e8e8e8;
    padding: 0px 0px;
    margin: 10px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#owl-demo .item img {
    max-width: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
#owl-demo .item h1{
    background-color: #169fe7;
    color:#fff;
    font-size:16px;
    line-height:50px;
    font-weight: bold;
    margin: 0px;
}
#owl-demo .item p{
    background-color: #fff;
    color:#000;
    font-size:14px;
    text-align:left;
    line-height:20px;
    margin: 0px;
    padding:10px 5px;
}
#owl-demo .item p a{
    color:#169fe7;
    font-weight:bold;
    text-decoration:underline;
}
.owl-theme .owl-controls .owl-buttons div {
    padding: 5px 9px;
}

.owl-theme .owl-buttons i{
    margin-top: 2px;
}

.owl-theme .owl-controls .owl-buttons div {
    position: absolute;
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: -40px;
    top: 150px; 
}

.owl-theme .owl-controls .owl-buttons .owl-next{
    right: -40px;
    top: 150px;
}
	
.icon-chevron-left {
    background-position: -432px -72px;
}
.icon-white {
    background-image: url("../images/icons/glyphicons-halflings-white.png");
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    line-height: 14px;
    vertical-align: text-top;
    background-repeat: no-repeat;
}
.icon-chevron-right {
    background-position: -456px -72px;
}


/*===========================================================
                            footer css 
=============================================================*/

.section-footer{
    position: relative;
    display: block;
    overflow: hidden;
    background-color:#009999;
   
}
.section-footer .copy{
    color: #fff;
    text-align: center;
}
.section-footer .copy-right{
    color: #fff;
    float: right;
}


/*===========================================================
                        jssor slider css 
=============================================================*/

.jssorb05 {
    position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(../images/icons/b05.png) no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb05 div { 
    background-position: -7px -7px; 
}
.jssorb05 div:hover, .jssorb05 .av:hover { 
    background-position: -37px -7px; 
}
.jssorb05 .av { 
    background-position: -67px -7px; 
}
.jssorb05 .dn, .jssorb05 .dn:hover { 
    background-position: -97px -7px; 
}
.jssora12l, .jssora12r {
    display: block;
    position: absolute;
    width: 30px;
    height: 46px;
    cursor: pointer;
    background: url(../images/icons/a14.png) no-repeat;
    overflow: hidden;
}
.jssora12l { 
    background-position: -16px -37px; 
}
.jssora12r { 
    background-position: -75px -37px;
}
.jssora12l:hover { 
    background-position: -136px -37px; 
}
.jssora12r:hover { 
    background-position: -195px -37px;
}
.jssora12l.jssora12ldn { 
    background-position: -256px -37px; 
}
.jssora12r.jssora12rdn {
    background-position: -315px -37px;
}
.jssorb03 {
    position: absolute;
}
.jssorb03 div, .jssorb03 div:hover, .jssorb03 .av {
    position: absolute;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 21px;
    color: white;
    font-size: 12px;
    background: url('img/b03.png') no-repeat;
    overflow: hidden;
    cursor: pointer;
}
.jssorb03 div { 
    background-position: -5px -4px; 
}
.jssorb03 div:hover, .jssorb03 .av:hover {
    background-position: -35px -4px; 
}
.jssorb03 .av { 
    background-position: -65px -4px; 
}
.jssorb03 .dn, .jssorb03 .dn:hover {
    background-position: -95px -4px; 
}

.jssora03l, .jssora03r {
    display: block;
    position: absolute;
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('img/a03.png') no-repeat;
    overflow: hidden;
}
.jssora03l {
    background-position: -3px -33px; 
}
.jssora03r { 
    background-position: -63px -33px;
}
.jssora03l:hover { 
    background-position: -123px -33px; 
}
.jssora03r:hover {
    background-position: -183px -33px;
}
.jssora03l.jssora03ldn { 
    background-position: -243px -33px; 
}
.jssora03r.jssora03rdn {
    background-position: -303px -33px; 
}

.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../images/icons/a14.png') no-repeat;
    overflow: hidden;
}

.jssora22l {
    background-position: -10px -31px;
}

.jssora22r {
    background-position: -70px -31px;
}

.jssora22l:hover {
    background-position: -130px -31px;
}

.jssora22r:hover {
    background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}

/*===========================================================
                jssor slider page demo1 css 
=============================================================*/
.jssorb01 {
    position: absolute;
}

.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
    position: absolute;
    /* size of bullet elment */
    width: 12px;
    height: 12px;
    filter: alpha(opacity=70);
    opacity: .7;
    overflow: hidden;
    cursor: pointer;
    border: #000 1px solid;
}

.jssorb01 div {
    background-color: gray;
}

.jssorb01 div:hover, .jssorb01 .av:hover {
    background-color: #d3d3d3;
}

.jssorb01 .av {
    background-color: #fff;
}

.jssorb01 .dn, .jssorb01 .dn:hover {
    background-color: #555555;
}
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../images/icons/a17.png) no-repeat;
    overflow: hidden;
}

.jssora05l {
    background-position: -10px -40px;
}

.jssora05r {
    background-position: -70px -40px;
}

.jssora05l:hover {
    background-position: -130px -40px;
}

.jssora05r:hover {
    background-position: -190px -40px;
}

.jssora05l.jssora05ldn {
    background-position: -250px -40px;
}

.jssora05r.jssora05rdn {
    background-position: -310px -40px;
}

/*===========================================================
                jssor slider page demo2 css 
=============================================================*/
.jssora05l, .jssora05r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 40px;
    cursor: pointer;
    background: url(../images/icons/a17.png) no-repeat;
    overflow: hidden;
}
.jssora05l { background-position: -10px -40px; }
.jssora05r { background-position: -70px -40px; }
.jssora05l:hover { background-position: -130px -40px; }
.jssora05r:hover { background-position: -190px -40px; }
.jssora05l.jssora05ldn { background-position: -250px -40px; }
.jssora05r.jssora05rdn { background-position: -310px -40px; }

.jssort01 {
    position: absolute;
    /* size of thumbnail navigator container */
    width: 1300px;
    height: 100px;
}

.jssort01 .p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
}

.jssort01 .t {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.jssort01 .w {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.jssort01 .c {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 96px;
    height: 96px;
    border: #000 2px solid;
    box-sizing: content-box;
    background: url(../images/icons/t01.png) -1300px -1300px no-repeat;
    _background: none;
}

.jssort01 .pav .c {
    top: 2px;
    _top: 0px;
    left: 2px;
    _left: 0px;
    width: 96px;
    height: 96px;
    border: #000 0px solid;
    _border: #fff 2px solid;
    background-position: 50% 50%;
}

.jssort01 .p:hover .c {
    top: 0px;
    left: 0px;
    width: 98px;
    height: 98px;
    border: #fff 1px solid;
    background-position: 50% 50%;
}

.jssort01 .p.pdn .c {
    background-position: 50% 50%;
    width: 96px;
    height: 96px;
    border: #000 2px solid;
}

* html .jssort01 .c, * html .jssort01 .pdn .c, * html .jssort01 .pav .c {
    /* ie quirks mode adjust */
    width /**/: 100px;
    height /**/: 100px;
}




/*===========================================================
                        inner pages css 
=============================================================*/

.section-default{
    position: relative;
    display: block;
    padding: 0px 0px;
}
.section-default .page-title{
    position:relative;
    padding:30px 0px;
    border-bottom: 5px double #009999;
    background-size:cover;
    background-repeat:no-repeat;
    color:#222222;
    overflow: hidden;
}
.section-default .page-title h1{
    position:relative;
    font-size:30px;
    font-weight: bold;
    color:#005ba0;
    text-transform:uppercase;
}

/*============= bread-crumb css ==============*/
.section-default .page-title .bread-crumb{
    position:relative;
}
.section-default .page-title .bread-crumb a{
    color:#009999;	
}
.section-default .page-title .bread-crumb a:hover{
    color:#222222;	
}

/*============= page head image css ==============*/
.section-default .page-head-img{
    position:relative;
    display: block;
    padding:0px 0px;
    overflow: hidden;
}

.section-default .page-content{
    position:relative;
    display: block;
    padding:5px 0px;
    overflow: hidden;
}

/*============= headings css ==============*/
.section-default .page-content .page-heading{
    position:relative;
    display: block;
    padding:10px 0px 10px 0px;
    overflow: hidden;
}
.section-default .page-content .page-heading::after {
    content: '';
    width: 60px;
    height: 2px;
    background: #009999;
    display: block;
}
.section-default .page-content .page-heading h1{
    font-size:26px;
    color:#005ba0;
    text-transform:uppercase;
}
.section-default .page-content h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color:#222222;
    padding:10px 0px;
}

/*============= tables css ==============*/
.section-default .page-content .page-table{
    padding:10px 0px;
    color:#222222;
	overflow:hidden;
}
.section-default .page-content .page-table .table-bordered {
    border: 1px solid #009999;
}
.section-default .page-content .page-table .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid #009999;
}
.section-default .page-content .page-table .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border-bottom-width: 2px;
    color: #fff;
}

.section-default .page-content .page-table{
    padding:10px 0px;
    color:#222222;
}
/*============= responsive tables css ==============*/
#no-more-tables table{
    border: 1px solid #009999;
    font-weight: bold;
    
}
.page-table .thead-inverse th {
    color: #fff;
    background-color: #009999;
}
.page-table .thead-inverse th {
    padding: 10px 10px;
    line-height: 1.5;
    vertical-align: top;
}
.page-table .tbody-inverse td {
    padding: 10px;
    line-height: 1.5;
    vertical-align: top;
    border: 1px solid #009999;
}
.page-table .th-hide{
   	display:none !important;
	
}

/*============= list css ==============*/
.section-default .page-content .page-list{
    position:relative;
    display: block;
    padding:10px 0px 10px 0px;
    overflow: hidden;
}
.section-default .page-content .page-list ul{
    list-style-type: none;
    padding: 0px 0px 0px 30px;
    list-style-image: url(../images/li-icon.png);
    list-style-position: outside;
}
.section-default .page-content .page-list ul li{
    color:#222222;
    line-height: 20px;
    padding:5px 0px;
}
/*.section-default .page-content .page-list ul li::before {
    content: '';
    position: relative;
    margin-right: 8px;
    left: 0px;
    top: 0px;
    right: 5px;
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 2px solid #009999;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}*/
.section-default .page-content .page-list-ordered{
    position:relative;
    display: block;
    padding:10px 0px 10px 20px;
    overflow: hidden;
}
.section-default .page-content .page-list-ordered ul{
    list-style-type: decimal;
    padding: 0px 0px 0px 30px;
}
.section-default .page-content .page-list-ordered ul li{
    color:#222222;
}

/*============= panels css ==============*/
.section-default .page-content .page-panel{
    position:relative;
    display: block;
    padding:10px 0px 10px 0px;
    overflow: hidden;
}
.section-default .page-content .page-panel .panel-opt-1{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #e7efda;
    border: 5px solid #e0eacd;
    border-radius: 5px;
    text-align: center;
}
.section-default .page-content .page-panel .panel-opt-2{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #009999;
    border: 5px solid #027676;
    border-radius: 5px;
    text-align: center;
}
.section-default .page-content .page-panel .panel-opt-3{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #f44a55;
    border: 5px solid #c94149;
    border-radius: 5px;
    text-align: center;
}
.section-default .page-content .page-panel .panel-opt-4{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #99cc00;
    border: 5px solid #79a102;
    border-radius: 5px;
    text-align: center;
}
.section-default .page-content .page-panel .panel-opt-5{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #159fe7;
    border: 5px solid #1383bd;
    border-radius: 5px;
    text-align: center;
}
.section-default .page-content .page-panel .panel-opt-6{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #70f7f3;
    border: 5px solid #54bdba;
    border-radius: 5px;
    text-align: center;
}
.section-default .page-content .page-panel .panel-opt-7{
    padding:20px 0px 20px 0px;
    margin:10px 0px;
    background-color: #005ba0;

    border: 5px solid #014171;
    border-radius: 5px;
    text-align: center;
}

/*============= panels css ==============*/
.section-default .page-content .page-images{
    position:relative;
    display: block;
    padding:10px 0px 10px 0px;

    overflow: hidden;
}
.section-default .page-content .page-images .page-images-opt{
    position:relative;
}

/*============= column css ==============*/
.section-default .page-content .page-column{
    position:relative;
    display: block;
    padding:10px 0px;
    overflow: hidden;
}

/*============= button css ==============*/
.section-default .page-content .page-buttons{
    position:relative;
    display: block;
    padding:10px 0px;
    overflow: hidden;
}

.btn-green-lg{
    background-color:#009999;
    color:#fff;
    font-size:16px;
    padding:10px 6px;
    border-radius:8px;
    font-weight:bold;
    border:none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.btn-green-lg:hover{
    background-color:#006eab;
    color:#fff;
}

.btn-green-border-lg{
        border:1px solid #009999;
	color:#009999;
	font-size:16px;
	padding:10px 6px;
	border-radius:3px;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
}
.btn-green-border-lg:hover{
	background-color:#009999;
	color:#fff;
}

/*============= page slider css ==============*/
.section-default .page-content .page-slider{
    position:relative;
    display: block;
    padding:10px 0px;
    overflow: hidden;
}

/*===========================================================
                        contact pages css 
=============================================================*/

.section-contact{
    position: relative;
    display: block;
    padding: 10px 0px;
}
.section-contact .add-sec{
    position: relative;
    display: block;
}
.section-contact .add-sec h4{
    padding: 0px 0px;
    color: #2d57ad;
    font-weight: bold;
}
.section-contact .add-sec p{
    color: #222222;
}
.section-contact .add-sec p span{
    color: #009999;
    font-weight: bold;
}
.section-contact .form-sec{
    position: relative;
    display: block;
}
.section-contact .form-sec h4{
    padding: 0px 0px;
    color: #2d57ad;
    font-weight: bold;
}
.section-contact .form-sec input, textarea{
    width: 100%;
    border: 1px solid #009999;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-weight: bold;
}


/*===========================================================
                        product pages css 
=============================================================*/

.section-products{
    position: relative;
    display: block;
    padding: 10px;
    margin: 20px 0px;
    border:  5px solid #009999;
    overflow: hidden;
}
.section-products .pro-image-box{
    position: relative;
    display: block;
    border:  5px solid #009999;
}
.section-products .pro-image-box .pro-image{
    position: relative;
    display: block;
}
.section-products .pro-image-box .pro-image-title{
    position: relative;
    display: block;
    background-color: #00813d;
    padding: 5px 0px;
    text-align: center;
    color: #fff;
}
.section-products .pro-image-box .pro-image-title:hover{
    background-color: #009999;
}
.section-products .pro-image-box .pro-image-title h3{
    color: #fff;
}

/*============= popup css ==============*/
.overlay{
    background-color:#333;
    opacity:.7;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    display:none;
		
}
.popup{
    background-color:#FFF;
    position:fixed;
    /*    top:0%;*/
    left:20%;
    height:auto;
    width:60%;
    z-index:12000;
    border-radius:10px;
    padding:10px;
    display:none;
}
.popup h5{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #34495e;
    padding: 0px 0px 10px 0px; 
}
.popup p{
    line-height: 25px;
}


/*=============Login popup css ==============*/
.overlaylog{
    background-color:#333;
    opacity:.7;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    display:none;
		
}
.popuplog{
    background-color:#FFF;
    position:fixed;
    top:52%;
    left:25%;
    height:auto;
    width:50%;
    z-index:12000;
    border-radius:10px;
    padding:10px;
    display:none;
}
.popuplog h5{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #34495e;
    padding: 0px 0px 10px 0px; 
}
.popuplog p{
    line-height: 25px;
}

/*=============Forgot popup css ==============*/
.overlaygot{
    background-color:#333;
    opacity:.7;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    display:none;
		
}
.ppoverlaylog{
    background-color:#333;
    opacity:.7;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    display:none;
		
}
.ppopuplog{
    background-color:#FFF;
    position:fixed;
    top:52%;
    left:25%;
    height:auto;
    width:50%;
    z-index:12000;
    border-radius:10px;
    padding:10px;
    display:none;
}

.popupgot{
    background-color:#FFF;
    position:fixed;
    top:52%;
    left:25%;
    height:auto;
    width:50%;
    z-index:12000;
    border-radius:10px;
    padding:10px;
    display:none;
}

.ppoverlaygot{
    background-color:#333;
    opacity:.7;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index:10000;
    display:none;
		
}
.ppopupgot{
    background-color:#FFF;
    position:fixed;
    top:52%;
    left:25%;
    height:auto;
    width:50%;
    z-index:12000;
    border-radius:10px;
    padding:10px;
    display:none;
}
.popupgot h5{
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #34495e;
    padding: 0px 0px 10px 0px; 
}
.popupgot p{
    line-height: 25px;
}




/*=============state maps table one coloum hover style start ==============*/
.org-name-color:hover {
  color:#000;
}
/*=============state maps table one coloum hover style end ==============*/


.goog-logo-link, .goog-logo-link:link, .goog-logo-link:visited, .goog-logo-link:hover, .goog-logo-link:active {
    display: none ;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.goog-te-gadget {
    font-family: arial;
    font-size: 11px;
    color: #009999 !important;
    white-space: nowrap;
}
#google_translate_element {
  color: none !important;
}
#google_translate_element a {
  display: none !important;
}





.cellLink {
    color: #3471ad;
}

.cellLink:hover {
    color: #000;
    
}




.btn-map{
    background-color:009999;
    color:#000;
    font-size:16px;
    padding:10px 10px;
    border-radius:8px;
    font-weight:bold;
    border:none;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.btn-map:hover{
    background-color:#006eab;
    color:#000;
}











